/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  padding: 20px;
}

header button,
header input[type="text"] {
  margin: 10px;
}

/* Buttons */
.sound-button,
.record-button {
  border: none;
  padding: 15px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  touch-action: none; /* Prevent default touch actions */
}

.sound-button {
  /* Background will be set dynamically based on mode */
}

.sound-button:active {
  transform: scale(0.95); /* Slightly shrink on press */
}

.record-button {
  background-color: #ff4500;
}

.record-button.recording {
  background-color: #d00000;
}

/* Text input */
input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

/* Info Button */
#infoButton {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Container for buttons */
.container {
  position: relative; /* allow absolute positioning of buttons */
  width: 95vw;
  height: calc(100vh - 150px);
  margin: 0 auto;
  border: 2px solid #444;
  background: radial-gradient(circle, #333, #111);
  border-radius: 10px;
  overflow: hidden;
}

/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #222;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  color: #fff;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Toolbar Styles */
#toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgba(50, 50, 50, 0.9);
  padding: 20px 0;
  box-sizing: border-box;
  z-index: 10;
}

.toolbar-section {
  flex: 1;
  margin: 5px 20px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border: 2px solid transparent;
  color: #fff;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  transition: border-color 0.3s;
}

.toolbar-section:hover {
  border-color: #ff0000;
}

/* Highlight for toolbar zones */
.highlight {
  border: 2px solid red;
}
